.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    font-size: 34px;
}
button{
    background: #978fa0;
    border-radius: 20px;
    font-size: 40px;
    width: 102px;
    height: 58px;
}
.calculator{
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}